.album-li {
  padding: 20px 40px 20px 0px;
}

.cover {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.cover-lg {
  width: 200px;
  height: 200px;
  margin-right: 30px;
}

.cover:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.album-artist {
  font-size: 14px;
  font-weight: bold;
  color: #bbb;
}

.album-artist:hover {
  color: #fff;
}

.album-sm-caps {
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
}

.explicit {
  font-size: 10px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 3px 5px;
  border-radius: 2px;
  margin: 0 5px;
}

.albumId {
  color: #777;
}

.albumId:hover {
  color: #fff;
  transition: 0.5s;
}

.album-show-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
