.artist-li {
  padding: 20px 40px 20px 0px;
}

.image-crop {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.artist-photo {
  display: inline;
  margin: 0 auto;
  // margin-left: -25%;
  width: auto;
}

.artistId {
  font-size: 15px;
  color: #777;
}

.artistId:hover {
  color: #fff;
  transition: 0.5s;
}
