.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  padding-left: 200px;
  padding-bottom: 400px;
  border-radius: 5px;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 200px;
  background-color: #555;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header,
.modal-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: left;
  background-color: #333;
  height: 40px;
}

.modal-body {
  width: 100%;
}
