.playlist-colorbox {
  background: linear-gradient(215deg, red 0%, purple 50%, blue 100%) no-repeat
    50% fixed;
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.playlist-colorbox:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.playlist-colorbox-lg {
  background: linear-gradient(215deg, red 0%, purple 50%, blue 100%) no-repeat
    50% fixed;
  width: 200px;
  height: 200px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 30px;
}

.playlist-show-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.edit-btn {
  margin: 0 10px;
  font-size: 20px;
  color: #777;
}

.edit-btn:hover {
  color: #fff;
  transition: 0.5s;
}

.playlist-errors {
  margin: 10px;
  padding: 0px 10px;
  font-size: 14px;
  color: salmon;
}
