.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background: linear-gradient(215deg, #1a1a1a 15%, #222 85%) no-repeat 50% fixed;
  padding: 15px 15px;
  z-index: 5;
}

.sidebar-row {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  border-radius: 4px;
  width: 180px;
}

.sidebar-row:hover {
  background-color: #333;
}

.sidebar-break {
  margin: 15px 0px 5px 0px;
  padding: 0px 20px;
}

.sidebar-left-col {
  width: 20px;
  padding-right: 20px;
}

a.sidebar-link {
  border-radius: 4px;
  font-size: 16px;
  color: #aaa;
}

a.sidebar-link:hover {
  background-color: #333;
  color: #fff;
}

a.sidebar-active {
  color: cyan;
}

.logout-button {
  border: none;
  background-color: transparent;
  color: lightgreen;
  font-size: 14px;
}

.logout-button:hover {
  color: red;
  transition: 0.5s;
}

a.main-link {
  font-size: 18px;
}
